In [1]:
# Start small and save your time.

In [2]:
# import necessary packages

import pandas as pd # for working with tables
pd.options.mode.chained_assignment = None  # default = 'warn'

import os # for finding file directory with os.getcwd()

# for calculations
import numpy as np 
import math

import matplotlib.pyplot as plt # for plotting

# for plotting histogram with percentages
from matplotlib.ticker import PercentFormatter
import matplotlib.ticker as mtick
from matplotlib.ticker import FormatStrFormatter

from PIL import Image # for converting plots to black-and-white
from IPython.display import HTML

from ipynb.fs.full.MyFunctions_00 import *

In [3]:
# remove "#" at the beginning

new_voids_AWS = read_data('IPAC_Results/New/Voids/new_voids_AWSource')
new_walls_AWS = read_data('IPAC_Results/New/Walls/new_walls_AWSource')

new_voids_AWS.head()

read IPAC_Results/New/Voids/new_voids_AWSource
read IPAC_Results/New/Walls/new_walls_AWSource

,cntr_01,dist_x,pang_x,nsaid_01,ra_01,dec_01,ra,dec,w1mpro,w1sigmpro,w1snr,w2mpro,w2sigmpro,w2snr,w3mpro,w3sigmpro,w3snr,w4mpro,w4sigmpro,w4snr
0,1,0.151786,98.322261,52,146.594503,-0.133150,146.594545,-0.133156,15.346,0.040,27.2,15.241,0.095,11.5,11.979,NaN,1.2,8.623,NaN,0.8
1,2,2.434494,-81.609628,75,145.874464,-0.608775,145.873795,-0.608677,14.144,0.043,25.2,14.034,0.057,19.1,10.802,0.124,8.7,8.286,0.435,2.5
2,3,0.173687,-28.459110,95,146.222266,-0.375920,146.222243,-0.375877,13.238,0.025,44.0,13.075,0.029,37.9,9.610,0.044,24.9,8.194,0.273,4.0
3,4,0.036896,45.446259,121,145.681110,-0.867233,145.681118,-0.867226,13.040,0.024,46.2,13.006,0.027,39.9,11.039,0.139,7.8,8.913,NaN,-0.5
4,5,2.015983,83.997238,127,145.759730,-0.813891,145.760287,-0.813832,13.355,0.051,21.4,13.228,0.058,18.7,10.507,0.120,9.1,7.438,NaN,1.4

In [4]:
for col in new_voids_AWS.columns:
    print(col)

cntr_01
dist_x
pang_x
nsaid_01
ra_01
dec_01
ra
dec
w1mpro
w1sigmpro
w1snr
w2mpro
w2sigmpro
w2snr
w3mpro
w3sigmpro
w3snr
w4mpro
w4sigmpro
w4snr

In [5]:
ipac_new_voids = new_voids_AWS[['nsaid_01',
                             'ra',
                             'dec'
                            ]].rename(columns = {'nsaid_01' : 'nsaid'})

ipac_new_walls = new_walls_AWS[['nsaid_01',
                             'ra',
                             'dec'
                            ]].rename(columns = {'nsaid_01' : 'nsaid'})

ipac_new_voids.head()

   nsaid          ra       dec
0     52  146.594545 -0.133156
1     75  145.873795 -0.608677
2     95  146.222243 -0.375877
3    121  145.681118 -0.867226
4    127  145.760287 -0.813832

In [6]:
ipac_new_voids.loc[-1] = ['int', 'double', 'double']  # adding a row
ipac_new_voids.index = ipac_new_voids.index + 1  # shifting index
ipac_new_voids = ipac_new_voids.sort_index() 

ipac_new_voids.head(6)

  nsaid          ra       dec
0   int      double    double
1    52  146.594545 -0.133156
2    75  145.873795 -0.608677
3    95  146.222243 -0.375877
4   121  145.681118 -0.867226
5   127  145.760287 -0.813832

In [7]:
ipac_new_walls.loc[-1] = ['int', 'double', 'double']  # adding a row
ipac_new_walls.index = ipac_new_walls.index + 1  # shifting index
ipac_new_walls = ipac_new_walls.sort_index() 

ipac_new_walls.head(6)

  nsaid          ra       dec
0   int      double    double
1   464  148.728682  0.188869
2   570  147.428674   1.10747
3   572  147.511382  1.100608
4   576  147.561496  1.229845
5   615  148.015808   1.14842

In [8]:
print(len(ipac_new_voids))
ipac_new_voids = ipac_new_voids.dropna(axis = 'index', how = 'any')
print(len(ipac_new_voids))

86892
85797

In [9]:
print(len(ipac_new_walls))
ipac_new_walls = ipac_new_walls.dropna(axis = 'index', how = 'any')
print(len(ipac_new_walls))

245779
244079

In [10]:
ipac_new_voids.to_csv('AWS_voids_IPAC_' + timestamp() + '.txt', index = False, sep = ' ')

In [11]:
ipac_new_walls.to_csv('AWS_walls_IPAC_' + timestamp() + '.txt', index = False, sep = ' ')